body {
    color: dodgerblue;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    padding: 0 1rem;
}

canvas {
    border-radius: 0.3rem;
    box-shadow: 1px 1px 8px #666;
}

#spectrum-meter {
    background-color: dodgerblue;
}

#loudness-meter {
    margin-left: 1rem;
    background-color: #777;
}

button {
    margin: auto 0;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

#spectral-centroid {
    width: 4ch;
}

.output {
    font-size: 6rem;
    min-height: 6rem;
    display: inline-block;
}

.spectral-centroid-meter__container {
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: #888;
    color: white;
    padding: 1rem;
    text-align: right;
    width: 17rem;
    box-shadow: 1px 1px 8px #666;
}

.flex {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}
